@media screen and (max-width: 1399.98px) {
}

@media screen and (max-width: 1199.98px) {
}

@media (max-width: 767.98px) {
  .ant-layout-sider:not(.ant-layout-sider-zero-width) {
    display: none;
  }
}
@media screen and (max-width: 991.98px) {
}

@media screen and (max-width: 767.98px) {
}

@media screen and (max-width: 575.98px) {
}

@media screen and (max-width: 425.98px) {
}

@media screen and (max-width: 375.98px) {
}

@media screen and (max-width: 320.98px) {
}
